# [快速开始]：
# - 如果只使用下载功能，使用IDM且IDM安装在C盘，则无需任何配置，直接使用即可，下载文件将保存在用户目录下的下载文件夹(详见download_path)
# - 如果IDM未安装在C盘，则修改idm_install_path 为IDMan.exe所在文件夹
# - 你需要在下载任务添加后手动打开IDM，找到主要下载队列并点击开始队列才能下载
# ----------
# [配置说明]
# - 每个配置选项都有文档说明，其中可能包含以下两种标签：
# - [可选]：该选项是可选的，如果用不到相关功能可以直接跳过
# - [高级]：该选项是高级选项，如果你不知道它的作用则无需修改
# - 无标签：该选项是可选的，但强烈推荐进行配置


# 账号 若仅使用下载功能，保持默认的游客账号即可
username = "guest"

# 密码
password = "guest"

# 代理，仅用于API请求，不用于文件下载。推荐使用，不需要可删除或留空
proxy = ""
# proxy = "http://localhost:7890"

# [高级]
# api地址，访问 https://as.mr 可获取最新地址
# api.asmr-100.com, api.asmr-300.com，api.asmr.one均可，请视网络情况修改
api_channel = 'api.asmr-200.com'

# 下载文件的临时存放位置
download_path = "~/Downloads/asmr"

# 文件最终存储位置
# 使用review或file store后，如果文件在download_path，将自动移至storage_path
storage_path = "~/Music/asmr"

# [可选]
# 使用asmr view 的时候会在这个位置创建一个软链接或压缩文件，方便查找。
# 如不使用 view 方法可以设为空
view_path = "~/Desktop/asmr"

# [高级]
# 标签接受策略，具体说明参考官方频道：https://t.me/asmr_one_chan/73
# 可选项有：
# 1. common_only：默认值，只接受普通标签
# 2. accept_all：接受所有标签
# 3. except_rejected：接受除被否决的标签外的所有标签
# 4. 自定义python表达式，返回一个bool值，代表是否接受该标签。
#    可用条件有：
#    upvote: int 赞同票数
#    downvote: int 反对票数
#    voteRank: int 赞同票数-反对票数
#    myVote: int 我的投票，0为未投票，1为赞同，2为反对
#    voteStatus: int 标签状态，0为低愿力，1为普通；被否决可能是2？我还没遇到过
#    tag: dict[str, Any] 标签的详细信息，具体参见任意一个作品目录下的<RJ号>.json文件，使用 asmr which 可输出文件路径

# 需要注意的是，这一步发生在tag_filter之前，即通过这一步排除掉的标签，将被视为该作品不存在该标签。
# 因此，如果你特别讨厌某个标签，那么对于包含该标签的作品，即使票数并不多，也可以考虑接受该标签，这样在下一步的tag_filter中就可以过滤掉这个作品。
# 例如下面的设置，将对于特定的标签只需分数大于2即考虑接受，而一般标签需要分数大于5：
# tag_strategy = "common_only or (voteRank >= 5 or (tag['name'] in ['tagname1', 'tagname2'] and voteRank >= 2))"

# 默认会过滤除普通标签外的所有标签
tag_strategy = "common_only"

# [可选]
# 过滤掉那些你不喜欢的标签
tag_filter = ["tagname1", "tagname2"]

# [可选]
# 是否获取封面图，封面图将保存为作品根目录下的cover.jpg
# 大多数音乐播放器会自动识别cover.jpg并将其作为封面显示
fetch_cover = false

# [可选]
# 编辑sql用的默认编辑器，若不使用sql可忽略
# 如果需使用powershell脚本例如lvim，
# 此处可填入 'pwsh -nop -f /path/to/lvim.ps1'
editor = "code --wait"

# [可选]
# 下载所用的工具，可选则idm或aria2，请注意需安装对应的依赖项
download_method = "idm"

# [高级]
# asmr file store 前执行的脚本，若不需要可直接删除或留空，
# 使用 Python 语法编写，运行时动态执行，并提供以下全局资源以供调用：

# - path: pathlib.Path 音声的下载路径，download_path的子目录

# - convert(file: pathlib.Path, to: Literal['mp3', 'wav', 'flac', 'm4a', 'lrc'])
# 将单个文件转化为目标格式，mp3与m4a默认采用320k码率，flac默认使用压缩等级为5
# 若使用to='lrc'，请确保原文件为vtt格式。

# - convert_all(from_: Literal['mp3', 'wav', 'flac', 'm4a', 'vtt'], to: Literal['mp3', 'wav', 'flac', 'm4a', 'lrc'], threads: int = 6)
# 将path 下的所有<from_>类型的文件转化为<to>类型，
# 对convert函数的封装，其余细节与convert无异。
# 其中threads参数为同时运行的ffmpeg线程数，默认为6。

# 例如下面的配置会将将所有的vtt文件转化为lrc文件，wav文件转化为mp3文件，flac文件转化为mp3文件
# before_store = '''
# convert_all('vtt', 'lrc')
# convert_all('wav', 'mp3')
# convert_all('flac', 'mp3')
# ''''

before_store = ''

# [可选]
# 如果使用的是IDM且没有安装在默认路径，请修改此项为IDM可执行文件所在的文件夹，否则请忽略
idm_install_path = ""

# [高级]
# 网站api有请求频率限制，以下参数是较为保守的设置，可以根据具体情况自行调整
api_max_concurrent_requests = 3  # 最大同时存在的请求数
api_max_requests_per_second = 3  # 每秒最大请求数(RPS)

# [可选]
# 如使用aria2请配置此项，否则请忽略
# 如果是在本地使用aria2，运行`aria2c --enable-rpc`，以下保持默认即可
# 如果使用motrix/imfile，且没有更改过默认端口，请将端口(port)改为16800
# 若下载频率过高网站可能会返回403，官方版本的aria2对于403的请求会直接fail，
# 因此推荐使用[aria2pro](https://github.com/P3TERX/Aria2-Pro-Core) 并设置retry-on-403=true
[aria2_config]
host = "http://localhost"
port = 6800
secret = ""

# [高级]
# 文件和文件夹的过滤规则
# 可选参数和默认值如下：

# type: Literal["include", "exclude"] = "exclude"  # 必须保留匹配文件还是过滤匹配文件
# range: Literal["file", "directory", "all"] = "all"  # 该规则针对的文件类型
# excat_match: bool = False  # 是否应精确匹配(从头到尾严格匹配)
# ignore_case: bool = True  # 是否忽略大小写
# disable_when_nothing_to_download: bool = False  # 若设置为True，当检测到没有任何音频文件需要下载时，将禁用该规则并重新检查
# disable_order: int = 1  # 仅当disable_when_nothing_to_download为True时生效，控制上述规则的生效顺序，数字越小的规则越先被禁用

# 注意只有满足所有的include规则且不满足所有的exclude规则的文件才会被下载

# 示例：过滤所有的无SE音频（不保证完全）
# [[filename_filters]]
# regex = '(効果音|SE|ＳＥ|BGM|音效|環境音)[ ]?([な無无×][し]?|cut|切除|カット|オフ|off)'
#
# [[filename_filters]]
# regex = '([無无×]|不含|NO[ _]?)(効果音|SE|ＳＥ|BGM|音效|環境音)'
#
# [[filename_filters]]
# regex = '(声|ボイス|SE)のみ'

# 过滤所有的wav,flac和m4a文件，但如果没有任何音频文件可下载，则按照disable order顺序从小到大依次解除过滤，直到有音频文件可下载为止
# 最终效果为：按照 mp3 > m4a > wav > flac 的优先级下载音声所提供的优先级最高的音频文件
# [[filename_filters]]
# regex                            = '.*\.m4a(\.vtt)?$'
# range                            = "file"
# disable_when_nothing_to_download = true
# disable_order                    = 1
# [[filename_filters]]
# regex                            = '.*\.wav(\.vtt)?$'
# range                            = "file"
# disable_when_nothing_to_download = true
# disable_order                    = 2
# 
# [[filename_filters]]
# regex                            = '.*\.flac(\.vtt)?$'
# range                            = "file"
# disable_when_nothing_to_download = true
# disable_order                    = 3

# 过滤包含 "反転" 的wav文件
# [[filename_filters]]
# regex = '反転.*\.wav$'
# range = "file"

# 过滤壁纸文件
# [[filename_filters]]
# regex = "壁紙|桌布|壁纸"

# [可选]
[playlist_aliases]
# 这里可以自定义列表的别名
# 左侧为别名，右侧为对应uuid或列表的名字，例如
# 我喜欢的 = 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'
# 别名1 = 列表名1
# 在创建列表时，列表名是可以重复的，因此如果右侧填列表名的话，
# 请确认列表名的唯一性，否则将自动选取第一个符合的列表名。
liked = '__SYS_PLAYLIST_LIKED'   # 我喜欢的 的列表别名
marked = '__SYS_PLAYLIST_MARKED' # 我标记的 的列表别名

# [可选]
[subtitle_config]
# 这里是faster-whisper的运行参数设置
# 如无相关需求或未安装[subtitle]依赖，则可以忽略
device = "auto"     # "cpu" or "cuda"
model_size = "base" # (tiny, tiny.en, base, base.en, small, small.en, distil-small.en, medium, medium.en, distil-medium.en, large-v1, large-v2, large-v3, large, distil-large-v2, distil-large-v3, large-v3-turbo, or turbo)
language = "ja"     # "ja", "zh", "en"
